/*
  https://developer.mozilla.org/En/DOM_Inspector
  https://developer.mozilla.org/en/Introduction_to_DOM_Inspector 
  chrome://browser/content/browser.css
  chrome://browser/skin/browser.css 
*/

/* AGENT_SHEET */
@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root {
    /* VARIABLES */
    --base00: #181818;
    --base01: #282828;
    --base02: #383838;
    --base03: #585858;
    --base04: #b8b8b8;
    --base05: #d8d8d8;
    --base06: #e8e8e8;
    --base07: #f8f8f8;
    --base08: #493530;
    --base09: #5A392C;
    --base0A: #5A4739;
    --base0B: #6C574B;
    --base0C: #8E613A;
    --base0D: #8F6C59;
    --base0E: #748A65;
    --base0F: #AE966F;
}

#nav-bar {
  background: var(--base04);
}

#nav-bar toolbaritem, #nav-bar toolbarbutton {

}

/*----- Excluded Sites -----*/
@-moz-document url-prefix(https?://), url-prefix(ftp://), url-prefix(about), url-prefix(javascript) {

}